
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TPISISCapitalistClient</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstraptheme.min.css" >

  <style>
     

</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"><img class="img-fluid logotitle" alt="Responsive image" [attr.src]="'http://localhost:8080/'+world.logo" /></div>
      <div class="col-md-5 title h1"><span id="worldname"> {{world.name}} </span>
        <div class ='row'>
          <div class ='col-md-5'>Argent : <span id="money" [innerHTML]="world.money | bigvalue">{{world.money}}</span></div>
        </div>
      </div>
      <div class="col-md-3"><button class="btn btn-primary btn-lg" style="height: 100px; width: 100px ;" (click)="commutateur()"><span>buy: </span><span>{{qtmulti}}</span></button></div>
      <div class="col-md-2">
          <span class="row">Pseudo : </span>
          <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="unlocksModal.show()">Unlocks</button></div>
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="managersModal.show()"><span *ngIf="dManager" class="badge text-warning"> new </span> Manager</button></div>
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="investisseursModal.show()">Investisseurs</button></div>
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="ameliorationsModal.show()"><span *ngIf="dUpgrade" class="badge text-warning"> new </span>Améliorations</button></div>
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="angesModal.show()"><span *ngIf="dAngel" class="badge text-warning"> new </span>Anges</button></div>
      
    </div>
    <div class="row">
    </div>
    <div *ngFor="let p of world.products.product; let isEven = even;">
      <div *ngIf="isEven">
    <div class="row">
      <div class="col-md-2"></div>
      <app-product [prod]="world.products.product[p.id-1]" [mon]="world.money" [qtmulti]="qtmulti" class="product col" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onAchatDone($event)" (notifyBeforeProduction)="onEarlyProduction($event)"></app-product>
      <div class="col-md-1"></div>
      <app-product [prod]="world.products.product[p.id]" [mon]="world.money" [qtmulti]="qtmulti" class="product col" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onAchatDone($event)" (notifyBeforeProduction)="onEarlyProduction($event)"></app-product>
      <div class="col-md-1"></div>
    </div>
  </div>
  </div>
  
  </div>
  <app-modal #managersModal>
    <div class="app-modal-header">
      <h4 class="modal-title">Managers</h4>
    </div>
    <div class="app-modal-body">
      <div *ngFor="let manager of world.managers.pallier">
        <div *ngIf="!manager.unlocked">
          <div class="row">
            <div class="col-md-2">
                <span><img class="logo" [attr.src]="'http://localhost:8080/'+manager.logo"></span>
            </div>
            <div class="col-md-3">
                <span>{{manager.name}}</span>
            </div>
            <div class="col-md-3">
                <span>{{manager.seuil}}</span>
            </div>
            <div class="col-md-3">
                <button style="height: 100px; width: 100px;" class="btn btn-primary" (click)="achatManager(manager)" [disabled]="world.money < manager.seuil">Hire!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button>
    </div>
  </app-modal>
  <app-modal #unlocksModal>
    <div class="app-modal-header">
      <h4 class="modal-title">Unlocks</h4>
    </div>
    <div class="app-modal-body">
        <div *ngFor="let product of world.products.product">
          <div *ngFor="let unlock of product.palliers.pallier">
            <div *ngIf="!unlock.unlocked">
              <div class="row" style="overflow: auto">
                <div class="col-md-4">
                    <span><img class="logo" [attr.src]="'http://localhost:8080/'+product.logo"></span>
                </div>
                <div class="col-md-8">
                    <span>{{unlock.name}}</span>
                    <span></span>
                    <span>{{unlock.seuil}}</span>
                </div>
              </div>
            </div>
          </div>
          </div>
      <div *ngFor="let unlock of world.allunlocks.pallier">
        <div *ngIf="!unlock.unlocked">
          <div class="row">
            <div class="col-md-4">
                <span><img class="logo" [attr.src]="'http://localhost:8080/'+unlock.logo"></span>
            </div>
            <div class="col-md-8">
                <span>{{unlock.name}}</span>
                <span></span>
                <span>{{unlock.seuil}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="unlocksModal.hide()">Close</button>
    </div>
  </app-modal>

<app-modal #investisseursModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Angels</h4>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-4">
        <span>Total Anges:&nbsp;</span><span [innerHTML]="world.totalangels | bigvalue"></span><br/>
        <span>Bonus Per Angels:&nbsp;{{world.angelbonus}} %</span>      
      </div>
      <div class="col-md-4">
        <span>Ange gagné au prochain restart : {{world.totalangels-world.activeangels}}</span>
      </div>
      <div class="col-md-4">
        <button style="height: 100px; width: 100px;" class="btn btn-primary" (click)="claimAndRestart()">Claim and restart !</button>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="investisseursModal.hide()">Close</button>
  </div>
</app-modal>
<app-modal #ameliorationsModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Upgrades !</h4>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let upgrade of world.upgrades.pallier">
      <div *ngIf="!upgrade.unlocked">
        <div class="row">
          <div class="col-md-2">
              <span><img class="logo btn" [attr.src]="'http://localhost:8080/'+upgrade.logo"></span>
          </div>
          <div class="col-md-3">
            <span>{{upgrade.name}}</span>
            <span>{{upgrade.typeratio}}</span>
            <span>{{upgrade.seuil}}</span>
          </div>
          <div class="col-md-3">
              <button style="height: 100px; width: 100px;" class="btn btn-primary" 
              (click)="achatUpgrade(upgrade)" [disabled]="world.money < upgrade.seuil"> Buy !
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="ameliorationsModal.hide()">Close</button>
  </div>
</app-modal>
<app-modal #angesModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Améliorations Anges</h4>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let angel of world.angelupgrades.pallier">
      <div *ngIf="!angel.unlocked">
        <div class="row">
          <div class="col-md-4">
              <span><img class="logo" [attr.src]="'http://localhost:8080/'+angel.logo"></span> 
          </div>
          <div class="col-md-5">
            <span>{{angel.name}}</span>
            <span>{{angel.typeratio}}</span>
            <span>{{angel.seuil}}</span>
          </div>
          <div class="col-md-3">
              <button style="height: 100px; width: 100px;" class="btn btn-primary" (click)="achatAnge(angel)" [disabled]="world.money < angel.seuil">Buy !</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="angesModal.hide()">Close</button>
  </div>
</app-modal>
</body>
</html>
