
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TPISISCapitalistClient</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstraptheme.min.css" >

  <style>
     

</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"><img class="img-fluid logotitle" alt="Responsive image" [attr.src]="'http://localhost:8080/'+world.logo" /></div>
      <div class="col-md-10 title h1"><span id="worldname"> {{world.name}} </span>
        <div class ='row'>
          <div class ='col-md-5'>Argent : <span id="money" [innerHTML]="world.money | bigvalue"> {{world.money}} </span></div>
          <div class ='col-md-5'>Ange : <span id="angel" [innerHTML]="world.totalangels | bigvalue"> {{world.totalangels}} </span></div>
        </div>
      </div>
      <div class="col-md-4"><button class="btn btn-primary btn-lg" style="height: 100px; width: 100px ;" (click)="commutateur()"><span>buy  </span><span> {{qtmulti}}</span></button></div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <app-product [prod]="world.products.product[0]" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
      <app-product [prod]="world.products.product[1]" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
    </div>
    <!--
    <div class="row">
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary">Améliorations</button></div>
      <app-product [prod]="world.products.product[0]"  [qtmulti]="qtmulti" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
      <app-product [prod]="world.products.product[0]" [qtmulti]="qtmulti" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary">Managers</button></div>
      <app-product [prod]="world.products.product[0]"  [qtmulti]="qtmulti" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
      <app-product [prod]="world.products.product[0]" [qtmulti]="qtmulti" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2"><button type="button" class="btn btn-outline-primary">Anges</button></div>
      <app-product [prod]="world.products.product[0]" [qtmulti]="qtmulti" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
      <app-product [prod]="world.products.product[0]" [qtmulti]="qtmulti" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <app-product [prod]="world.products.product[0]"  [qtmulti]="qtmulti" [mon]="world.money" class="product col" (notifyProduction)="onProductionDone($event)"></app-product>
      <div class="col-md-4"></div>
    </div>-->
  </div>
</body>


</html>
