<div class="col-md-4"><img class="logo btn" [attr.src]="'http://localhost:8080/'+product.logo"  (click)="production()"/>
    <span>Revenu : <span id="productRevenue" [innerHTML]="product.revenu | bigvalue"> {{product.revenu}} </span> </span>
    <span> Quantite : <span id="productQuantite" [innerHTML]="product.quantite | bigvalue"> {{product.quantite}} </span> </span>
    <div class="progress">
      <mat-progress-bar class="progressbar" [value]="progressbarvalue"></mat-progress-bar>
    </div>
    <div class="row">
      <div class="col-5 col-sm-6">
        <button [disabled]="_qtmulti > calcMaxCanBuy()" type="button" class="btn btn-primary" (click)="achatProduit()">Cout : <span id="productCout" [innerHTML]="cost | bigvalue"></span></button>
      </div>
      <div class="col-5 col-sm-6">
        <span>Temps : <span id="productTemps" [innerHTML]="product.timeleft | bigvalue"> {{product.timeleft}} </span></span>
      </div>
    </div>
  </div>